.cookies-popup__wrapper {
    /* ?? */
    height: 78px;
    width: 80vw;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 1001;
    transform: translate(-50%, 0);
    background-color: #ffffff;
    border-top: solid 1px #C8B9CD;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cookies-popup__title {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #1C1C27;
}

.cookies-popup__button {
    margin-left: 60px;
}

.cookies-popup__button button {
    width: 47px !important;
    height: 41px !important;
    padding: 10px !important;
}