.pal-media__wrapper {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pal-media__title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    margin-bottom: 15px;
}

.pal-media__titlen {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.pal-media__photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
}

.pal-media__photo span {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    margin-bottom: 15px;
}

.pal-media__photo-change {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 140px;
    border: solid 0.5px #BCC2C7;
    border-radius: 8px;
}

.pal-media__photo-change img {
    cursor: pointer;
}

.pal-media__video {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.pal-media__video-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    margin-bottom: 15px;
}

.pal-media__video-titlen {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pal-media__video-titlenn {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pal-media__video-input {}

.pal-media__video-input input {
    width: 550px;
    padding-left: 15px;
    text-align: left;
}