.forgot-title {
    margin-bottom: 30px;
}

.forgot-sended__titlen {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    color: #1C1C27;
    margin-bottom: 3vh;
}